<a href="https://colab.research.google.com/github/Ranjith5720/Python/blob/main/Data_Structures_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Set**
**Syntax :**
{ values }
- Set is enclosed within curly brackets.
- Elements are written as comma separated.

In [4]:
a = {} # Empty set is not possible
type(a)

dict

In [5]:
b = {9 , 5.3 , "Ranjith" , True, 9-6j} # Set accept the all data types
b # Unorder

{(9-6j), 5.3, 9, 'Ranjith', True}

In [6]:
b[4] # Indexing is not possile

TypeError: ignored

In [28]:
b1 = {[12,32,4.4,2,2],2,6} # Set does not accept any data structures

TypeError: ignored

In [7]:
c = {3, 5.5, 6, 2, 8, 2, 5, 9, 9, 19} # Set can't accept the duplicate values
c

{2, 3, 5, 5.5, 6, 8, 9, 19}

In [8]:
len(c) # Set is countable, without duplicate values

8

In [9]:
c.add("Ranjith") # can add a new value in set using add()
c

{19, 2, 3, 5, 5.5, 6, 8, 9, 'Ranjith'}

In [10]:
c.remove(5) # can remove the value in set using remove()
c

{19, 2, 3, 5.5, 6, 8, 9, 'Ranjith'}

In [11]:
c.pop() # Remove the value in set using pop()
c

{19, 3, 5.5, 6, 8, 9, 'Ranjith'}

### **Set Oprations**
- union( | )
- intersection( & )
- difference( - )
- symmetric difference( ^ )

In [12]:
x = {5, "Ranjith", 8.3, 5, True, "Prem", 9-2j, 2, "Prem"}
x

{(9-2j), 2, 5, 8.3, 'Prem', 'Ranjith', True}

In [13]:
y = {3, 4, 6.5, "Tamil", "Bala", 3, 5, "Ranjith", 2, 8.3}
y

{2, 3, 4, 5, 6.5, 8.3, 'Bala', 'Ranjith', 'Tamil'}

### **Union**

In [14]:
# union (Merging or add two sets)

x | y # Merge x & y

{(9-2j), 2, 3, 4, 5, 6.5, 8.3, 'Bala', 'Prem', 'Ranjith', 'Tamil', True}

In [15]:
print(x | y)

{True, 2, (9-2j), 'Bala', 5, 'Ranjith', 3, 8.3, 4, 6.5, 'Prem', 'Tamil'}

In [16]:
x.union(y)

{(9-2j), 2, 3, 4, 5, 6.5, 8.3, 'Bala', 'Prem', 'Ranjith', 'Tamil', True}

### **Intersection**

In [17]:
# intersection (Common values)

x & y # common values in x & y

{2, 5, 8.3, 'Ranjith'}

In [18]:
print(x & y)

{8.3, 2, 5, 'Ranjith'}

In [19]:
x.intersection(y)

{2, 5, 8.3, 'Ranjith'}

### **Difference**

In [20]:
# difference (Remove the another set items)

x - y # remove the y values in x

{(9-2j), 'Prem', True}

In [21]:
print(x - y)

{True, 'Prem', (9-2j)}

In [22]:
x.difference(y) # x - y

{(9-2j), 'Prem', True}

In [23]:
y - x # remove x values in y

{3, 4, 6.5, 'Bala', 'Tamil'}

In [24]:
y.difference(x) # y - x

{3, 4, 6.5, 'Bala', 'Tamil'}

### **Symmetric difference**

In [25]:
# symmetric difference (Remove the common values in sets)

x ^ y # remove the common values in x & Y and print the remaining values

{(9-2j), 3, 4, 6.5, 'Bala', 'Prem', 'Tamil', True}

In [26]:
print(x ^ y)

{'Bala', 3, 4, 6.5, True, (9-2j), 'Prem', 'Tamil'}

In [27]:
y ^ x # remove the common values in y & x and print the remaining values

{(9-2j), 3, 4, 6.5, 'Bala', 'Prem', 'Tamil', True}