<a href="https://colab.research.google.com/github/Ranjith5720/Python/blob/main/Data_structure_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **List**
* List is a collection of order sequence elements.
* It is Mutable or changeable.
* The values between square brackets [ ].

In [11]:
a = [] # Empty list is possible
type(a)

list

In [12]:
b = [53,55.2,"Ranjith",True,5+3j] # List accept the all data types
b

[53, 55.2, 'Ranjith', True, (5+3j)]

In [13]:
len(b) # List is countable

5

In [14]:
b[3] # List is indexable

True

In [15]:
b[1:4] # Slicing

[55.2, 'Ranjith', True]

In [16]:
b["Ranjith"] # can't call the values

TypeError: ignored

In [17]:
c = [2,5,4.3,"Ranjith",True,2+3j,"Ranjith",2,False,5] # List accept the duplicate values
c

[2, 5, 4.3, 'Ranjith', True, (2+3j), 'Ranjith', 2, False, 5]

**Add a value to list**
* append( ) - add a value at last index
* extend( ) - structure breaker
* insert( ) - insert the value in specific index

### append( )
* we can add the all data types (int, float, str, bool, complex) at last index
* we can add same and other data structures (list, dict, set, tuple) at last index

In [18]:
x = ["Ranjith",23,"Ariyalur"]
x

['Ranjith', 23, 'Ariyalur']

In [19]:
x.append("M.sc") # add a value at last index
x

['Ranjith', 23, 'Ariyalur', 'M.sc']

In [20]:
x.append([23,5.2,True]) # Add a list in the list is possible
x

['Ranjith', 23, 'Ariyalur', 'M.sc', [23, 5.2, True]]

In [21]:
x.append((1,3,5)) # Add a tuple in the list is possible
x

['Ranjith', 23, 'Ariyalur', 'M.sc', [23, 5.2, True], (1, 3, 5)]

In [22]:
x.append({1,2,3,4,5}) # Add a set in the list is possible
x

['Ranjith',
 23,
 'Ariyalur',
 'M.sc',
 [23, 5.2, True],
 (1, 3, 5),
 {1, 2, 3, 4, 5}]

In [23]:
x.append({1:"a",2:"b"}) # Add a dict in the list is possible
x

['Ranjith',
 23,
 'Ariyalur',
 'M.sc',
 [23, 5.2, True],
 (1, 3, 5),
 {1, 2, 3, 4, 5},
 {1: 'a', 2: 'b'}]

### extend( )
* str data type is worked.
* other data types (int, float, bool, complex) are not worked for directly applying. It's worked for put the any structure or container.

In [24]:
y = ["Ranjith",5,"Prem",98.342,39-54j]
y

['Ranjith', 5, 'Prem', 98.342, (39-54j)]

In [25]:
y.extend("abc") # break the string, separate the values and add to the list at last index
y

['Ranjith', 5, 'Prem', 98.342, (39-54j), 'a', 'b', 'c']

In [26]:
y.extend(234) # int value does not breakable, it's not work
y

TypeError: ignored

In [27]:
y.extend(34.234) # float value does not breakable, it's not work
y

TypeError: ignored

In [28]:
y.extend(True) # bool value does not breakable, it's not work
y

TypeError: ignored

In [29]:
y.extend(34-4j) # complex value does not breakable, it's not work
y

TypeError: ignored

In [30]:
y.extend([123,"ranjith"]) # Break the list and add the values in list for last index
y

['Ranjith', 5, 'Prem', 98.342, (39-54j), 'a', 'b', 'c', 123, 'ranjith']

### insert( )
insert(index_no,value)
* we can insert all data types (int, float, str, bool, complex)
* we can insert all data structures (list, dict, set, tuple) also

In [31]:
z = [45.7,"Tamil",45-6j,False]
z

[45.7, 'Tamil', (45-6j), False]

In [32]:
z.insert(3,"Prem") # insert the value speciific index
z

[45.7, 'Tamil', (45-6j), 'Prem', False]

In [33]:
z.insert(2,["Ranjith",23]) # we can insert data structures also
z

[45.7, 'Tamil', ['Ranjith', 23], (45-6j), 'Prem', False]

**Remove a values to list**
* pop( )
* remove( )
* clear( )
* del( )

In [34]:
s = ["Ranjith", 23, "Ariyalur", True, 147.8]
s

['Ranjith', 23, 'Ariyalur', True, 147.8]

In [35]:
s.pop() # defaultly remove the last index value
s

['Ranjith', 23, 'Ariyalur', True]

In [36]:
s.pop(0) # we can remove specific index value
s

[23, 'Ariyalur', True]

In [37]:
s.pop([1:2]) # does not possible slicing
s

SyntaxError: ignored

In [38]:
s.remove(True) # remove the specific value
s

[23, 'Ariyalur']

In [39]:
s.clear() # remove the all items in the list
s

[]

In [40]:
del(s) # delete the list

In [41]:
s

NameError: ignored

Additional functions in list
* sort( )
* reverse( ) \
Both are worked in same data type lists

In [42]:
Num = [2,3,3.5,67,8,20,456-4,5754,765,2,556+5,-2,-34.5,-243.5]
Num

[2, 3, 3.5, 67, 8, 20, 452, 5754, 765, 2, 561, -2, -34.5, -243.5]

In [43]:
Num.sort() # values in ascending order
Num

[-243.5, -34.5, -2, 2, 2, 3, 3.5, 8, 20, 67, 452, 561, 765, 5754]

In [44]:
Num.reverse() # values in decending order
Num

[5754, 765, 561, 452, 67, 20, 8, 3.5, 3, 2, 2, -2, -34.5, -243.5]

In [45]:
alp = ["a","d","g","rre","rt","f","h","j","d","s"]
alp

['a', 'd', 'g', 'rre', 'rt', 'f', 'h', 'j', 'd', 's']

In [46]:
alp.sort()
alp

['a', 'd', 'd', 'f', 'g', 'h', 'j', 'rre', 'rt', 's']

In [47]:
alp.reverse()
alp

['s', 'rt', 'rre', 'j', 'h', 'g', 'f', 'd', 'd', 'a']