<a href="https://colab.research.google.com/github/Ranjith5720/Python/blob/main/Data_Structures_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Tuple**
**Syntax :**
( values )
- Tuple is written as comma separated values within paranthesis.

In [1]:
a = () # Empty tuple is possible
type(a)

tuple

Tuble can be defind in various way.

In [2]:
a1 = 1,2,3,4,5 # can create without paranthesis
type(a1)

tuple

In [3]:
a2 = 5 # It is not a tuble, it is a integer
type(a2)

int

In [4]:
a3 = 1, # single value tuple
type(a3)

tuple

In [5]:
b = (2, 5.4, "Ranjith", False, 2-7j) # tuple accept all data types
b

(2, 5.4, 'Ranjith', False, (2-7j))

In [6]:
c = (9, 5.7, "R", 2.5, 9, "P", 9, "R", 5) # tuple accept duplicate values
c

(9, 5.7, 'R', 2.5, 9, 'P', 9, 'R', 5)

In [7]:
len(c) # tuple is countable

9

In [8]:
c.count(9) # find how many times repeat the values in tuple

3

In [9]:
c.index("R") # which index first time accure the repeated value

2

In [10]:
c[8] # tuple is indexable & can access

5

In [11]:
d = ([1,"r",3.5], {"a":5,"b":4}, {1,"a",7}, ("ran", "eat", "jump")) # tuple accept all data structure & nested tuple is possible
d

([1, 'r', 3.5], {'a': 5, 'b': 4}, {1, 7, 'a'}, ('ran', 'eat', 'jump'))

In [12]:
d[3][2] = 5.5 # can't change or modify the values in tuple

TypeError: ignored