<a href="https://colab.research.google.com/github/Ranjith5720/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions** :
---------------
In python, A  **function** is named section of a code that performs a specific task.  

**Types :**
-----------
1. Build-in ( or ) In-build functions.
2. User defined functions. ( UDF's )
3. Lambda functions.

# **1. Build-in (or) In-build functions:**
----------------------------------------
In python those funtions are already defined by specific task.  

**EX :**
--------
print( )  
type( )  
min( )  
max( )

In [ ]:
a = [98, 34, 64, 98, 2, 34, 10, 1.2, 34.5]

In [ ]:
print(a)

[98, 34, 64, 98, 2, 34, 10, 1.2, 34.5]

In [ ]:
type(a)

list

In [ ]:
min(a)

1.2

In [ ]:
max(a)

98

# **2. User defined functions (UDF's) :**
---------------------------------------
Functions are ownly created by users for certain specific task.  

**Syntax :**
------------
**def** function_name( arguments ) :     
Conditions

In [ ]:
# Create a function
# Addition for two numbers

def add(x,y): # where, x & y are argument
  total = x + y
  print(total)

In [ ]:
# function calling

add(5,2) # where, 5 & 2 are parameter

7

In [ ]:
# Create a function for odd (or) even numbers

def odd_even(num):
  if num == 0:
    print(num, 'is a nutral number')
  elif num % 2 == 0:
    print(num,'is a even number')
  else:
    print(num,'is a odd number')

In [ ]:
odd_even(0)

0 is a nutral number

In [ ]:
odd_even(4)

4 is a even number

In [ ]:
odd_even(9)

9 is a odd number

**Arbitrary Arguments :**  
-------------------------
The * keyword arguments allows you to pass multiple values to a function .

The ** keyword arguments allows to pass the values are accessed using key-value pair ( same as accessing a dictionary ) .

**Syntax :**  
------------

**def** function_name ( * arguments ) :  
                ( or )  
**def** function_name ( ** arguments ) :

In [ ]:
def colour(*col):
  print(col)

In [ ]:
colour('Black', 'White', 'Orange')

('Black', 'White', 'Orange')

In [ ]:
def names(*name):
  for i in name:
    print(i)

In [ ]:
names('Ranjith', 'Prem', 'Tamil', 'Bala', 'Pugazh')

Ranjith
Prem
Tamil
Bala
Pugazh

In [5]:
def percent(*subject):
  sum = 0
  for i in subject:
    sum = sum + i
  average = sum / len(subject)
  print(average, '%')

In [6]:
percent(12, 45, 67, 23, 65)

42.4 %

In [32]:
def percentage(**subject):
  sum = 0
  for i in subject:
    sub_name = i
    sub_value = subject[i]
    sum = sum + sub_value
  average = sum / len(subject)
  print(average, '%')

In [34]:
percentage( Tamil = 98, English = 88, Maths = 99, Science = 94, Social = 100 )

95.8 %

In [46]:
def average(**subject):
  sum = 0
  for i,j in subject.items():
    sum = sum + j
  avg = sum / len(subject)
  print(avg, '%')

In [50]:
average( Tamil = 90, English = 84, Maths = 92, Science = 96, Social = 99 )

92.2 %

# **3. Lambda function :**
--------------------------
It is also called anonymous, they are not declared with standard def keyword.  
It is similar to User defined function but without a name.

**Syntax :**
------------
**lambda** arguments :  conditions

In [53]:
# create lambda function

square = lambda a: a ** 2

In [54]:
# calling lambda function

square(7)

49

In [60]:
# pass multible arguments in lambda function

names = lambda *name: name

In [66]:
names('Ranjith', 'Prem', 'Tamil')

('Ranjith', 'Prem', 'Tamil')

In [63]:
# pass multible arguments for key and value pair (like dictionary) in lambda function

marks = lambda **mark: mark

In [64]:
marks(Tamil = 90, English = 84, Maths = 92, Science = 96, Social = 99)

{'Tamil': 90, 'English': 84, 'Maths': 92, 'Science': 96, 'Social': 99}

In [69]:
# In lambda function declare the default arguments is possible

add = lambda a, b, c=5: a + b + c

In [70]:
add(2,3)

10

In [72]:
mul = lambda a=1, b, c: a * b * c # only declared the default arguments at last argument, not in middle or first

SyntaxError: ignored

In [90]:
a = [12,3,5,7,43,2,7,8,5,5,4]
a1 =list(filter(lambda a:(a % 2 == 0),a))

In [91]:
print(a1)

[12, 2, 8, 4]