<a href="https://colab.research.google.com/github/Ranjith5720/Python/blob/main/Looping_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **For Loop :** ( Pre defined )
**Syntax :**  
**for** ( keyword ) **i** ( iterative variable ) **in** ( keyword ) **sequence : logic**

In [12]:
a = ["Ranjith", 23, 147.6, "Ariyalur"] # list
for i in a:
  print(i)

Ranjith
23
147.6
Ariyalur

In [13]:
b = ("Ranjith", 23, 147.6, "Ariyalur") # tuple
for i in b:
  print(i)

Ranjith
23
147.6
Ariyalur

In [14]:
c = {"Ranjith", 23, 147.6, "Ariyalur"} # set
for i in c:
  print(i)

Ariyalur
147.6
Ranjith
23

In [15]:
d = {1:"Ranjith", 2:23, 3:147.6, 4:"Ariyalur"} # dict
for i in d.items():
  print(i)

(1, 'Ranjith')
(2, 23)
(3, 147.6)
(4, 'Ariyalur')

In [16]:
for i in range(8): # range(start = 0 (defaultly), end = n-1)
  print(i)

0
1
2
3
4
5
6
7

In [17]:
for i in range(3,9): # range(start, end = (n-1))
  print(i)

3
4
5
6
7
8

In [18]:
for i in range(2,17,2): # range(start, end = n-1, step)
  print(i)

2
4
6
8
10
12
14
16

In [19]:
x = 0
for i in range(1,5,1): # 1 + 2 + 3 + 4 = 10
  x = x + i
print(x)

10

In [20]:
y = [12, 4, 3, 98, 31, 23, 42, 76]
for i in y:
  if i % 2 == 0:
    print(i, "is Even Number")
  else:
    print(i, "is Odd Number")

12 is Even Number
4 is Even Number
3 is Odd Number
98 is Even Number
31 is Odd Number
23 is Odd Number
42 is Even Number
76 is Even Number

In [21]:
for i in range(11):
  print(i*5)

0
5
10
15
20
25
30
35
40
45
50